body {
  background-color: #0e23c0;
  font-family: "poppins", sans-serif;
}

h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}
h2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;

}
p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    margin-top: 1rem;
}
#questions,
#final,
#highscores 
#yesorno {
  display: none;
}
.ansBtn {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #0ccf2d;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
.ansBtn :hover {
  background-color: #0ccf2d;
  color: #fff;
}
.ansBtn:active
.ansBtn:focus
.ansBtn:active:focus{
    box-shadow: none;
    outline: none;

}

.btn-primary {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #340edd;
  color: #0ccf2d;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #0ccf2d;
  color: #fff;
}
.btn-primary:active{
    box-shadow: none;
    outline: none;

}
.btn-primary:focus{
    box-shadow: none;
    outline: none;

}
#timer {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}
#score {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}
.btn-success {
  display: block;
 
  width: 50%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #0ccf2d;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}